#javascript {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
  text-shadow: 2px;
}
#python {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#ruby {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#php {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#other {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#csharp {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#btn {
  width: 50%;
  text-align: center;
display: none;
}
button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
.intro {
  text-align: center;
  padding: 75px;
}
.col-centered {
  float: none;
  margin: auto;
}
.form-centered{
  float: none;
  margin: auto;
}
