#javascript {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
  margin-right: 100px;
  text-shadow: 2px;
}
#python {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#ruby {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#php {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#other {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#csharp {
  width: 50%;
  text-align: center;
  display: none;
  background-color: lightgray;
  opacity: 0.8;
  padding: 20px;
}
#btn {
  width: 50%;
  text-align: center;
  display: none;
  margin-bottom: 15px;
}
.intro {
  text-align: center;
  padding: 75px;
  text-shadow: 1px 1px white;
  background-color: lightgray;
  opacity: 0.8;
}
.col-centered {
  float: none;
  margin: auto;
}
.form-centered{
  padding-top: 20px;
  float: none;
  margin: auto;
}
