#javascript {
  width: 50%;
  text-align: center;
  display: none;
}
#python {
  width: 50%;
  text-align: center;
  display: none;
}
#ruby {
  width: 50%;
  text-align: center;
  display: none;
}
#php {
  width: 50%;
  text-align: center;
  display: none;
}
